$primary-color: #3498db;
$secondary-color: #2ecc71;

div.main {
    h1.main-title {
        color: $primary-color;
    }
    .main-subtitle{
        color: $secondary-color;
    }
    .main-btn{
        &:hover{
            background-color: $secondary-color;
        }
        background-color: $primary-color;
    }
}
@mixin font($size:18pt){
    font-size: $size;
}

@for $i from 14 through 18 {
    .font-#{$i+px} {
        @include font($i + px);
    }
}
.finish-btn{
    @media (min-width: 768px) and (max-width: 1024px) {
        width: 50%;
    }
    @media (width < 768px) {
        width: 100%;
    }
}